@font-face {
    font-family: 'Vazirmatn';
    src: url('./assets/fonts/Vazirmatn-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('./assets/fonts/Vazirmatn-FD-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('./assets/fonts/Vazir-FD.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Vazirmatn', sans-serif;
    background-color: #020617;
    color: #f8fafc;
    -webkit-font-smoothing: antialiased;
}
